<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>PrepCamp</title>
  <link rel="stylesheet" href="../static/style.css">

</head>
<body>

<div class="wrapper">

  <div class="hero">
    <img src="../static/logo2.svg" alt="PrepCamp" class="logo">

    <div class="login-button">
      <a href="/studentlogin_engg">
        Student Login
      </a>
  
      <a href="/facultylogin_engg">
        Faculty Login
      </a>
    </div>
  </div>

  <footer>
    <p class="footer">
      We believe you can fly ✈️ We believe you will fly 🎉
    </p>
  </footer>

</div>

  
</body>
</html>
