<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PrepCamp</title>

        <link rel="stylesheet" href="../static/styles.css">

        <!-- ICONS BOXICONS -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <!-- ===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <!-- <a href="#" class="nav__logo">PrepCamp</a> -->

                <!-- <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu-alt-right'></i>
                </div> -->

                <!-- <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Explore</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Aventure</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Discover</a></li>
                    </ul>
                </div>
            </nav> -->
        </header>

        <main>
            <!-- ===== HOME =====-->
            <div class="home">
                <div class="parallax home__parallax home__parallax-img1" data-rellax-speed="-9"></div>
                <div class="parallax home__parallax home__parallax-img2" data-rellax-speed="-7"></div>
                <div class="parallax home__parallax home__parallax-img3" data-rellax-speed="-6"></div>
                <div class="parallax home__parallax home__parallax-img4" data-rellax-speed="-3"></div>

                <h1 class="parallax home__title" data-rellax-speed="-6"><img src="../static/logo5.svg" style="width: 30rem;"/></h1>
                <span class="parallax home__subtitle" data-rellax-speed="-5" style="margin-top: 2rem; font-weight: 500;">We believe you can fly. We believe you will fly.</span>

                <!-- <div class="home__scroll">
                   <a href="#section"><i class='bx bx-mouse'></i></a>
                </div> -->
            </div>

            <!-- ===== SECTION =====-->
            <section class="l-section" id="section">
                <div class="section" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                    <!-- <div class="section__data">
                        <h2 class="section__title">PrepCamp For</h2>
                        <p class="section__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, laboriosam. Esse ipsum culpa laboriosam, totam hic quidem recusandae eos, numquam iusto aliquid expedita est sapiente quaerat inventore voluptatem corporis aliquam.</p>
                    </div>
        
                    <img src="assets/img/imgm.jpg" alt="" class="section__img"> -->
                    <img src="../static/imac.png" style="width: 50%;"/>
                    <!-- <h1>PrepCamp For</h1> -->
                    <div class="login-button" style="display: flex;">
                        <a href="/index_engg">Engineering</a>
                        <a href="/index" style="padding: 20px 65px;">MBA</a>
                    </div>

                </div>
            </section>
        </main>

        <!-- RELLAX JS -->
        <script src="../static/rellax.min.js"></script>

        <!-- GSAP -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>

        <!-- SCROLL REVEAL -->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!-- MAIN JS -->
        <script src="../static/main.js"></script>

    </body>
</html>